body{
  background-color: #333;
}
#main{
  box-shadow: 0 0 2px 1px #222;
  border: 10px solid #555;
  border-radius: 3px;
  margin: auto;
  width: 300px;
  height: 600px;
}
#main .status-bar{
  height: 25px;
}
#main .messages{
  height: 500px;
  position: relative;
}
#main .messages p{
  padding: 5px;
  color: white;
  text-align: right;
  background-color: #567;
  border-radius: 5px;
}
#main .messages .typing{
  position: absolute;
  bottom: 10px;
  left: 10px;
  margin-left: 50px;
}
#main.messages .typing img{
  height: 16px;
  margin-left: 50px;
}
#main .message-form{
  height: 75px;
}
#main .message-form input{
  margin-left: 50px;
}
